.button-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .button-link {
    text-decoration: none;
    padding: 10px 20px; /* Increase padding for better appearance */
    border-radius: 10px;
    border: 2px solid #000;
    margin: 10px;
    transition: all 0.5s ease;
    flex: 1;
    max-width: 200px; /* Limit button width */
  }
  
  .button-link:hover {
    background-color: #f0f0f0; 
    transform: translateY(5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); 
  }
  
  .button-link img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
    
  }

  .button-link img:hover {
    transform: translateY(5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
  }
  
  .button-label {
    color: #605746;
  }

  
  @media (min-width: 769px) {
    .button-link {
      flex: none;
      width: auto;
      margin: 10px;
    }
  }
  