/* Light mode styles */
.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dark mode styles */

.dark-mode {
  background-color: #000; 
  color: #fff; 
}

.dark-mode .app-container {
  background-color: #000; 
}

.dark-mode .app-header {
  background-color: #000; 
  color: #fff; 
}

.toggleButton {
  position: absolute; /* Position the button */
  top: 20%; /* Adjust the distance from the top */
  right: 3%; /* Adjust the distance from the right */
  z-index: 999; /* Ensure the button is above other content */
  
}