/* Light mode styles */
.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dark mode styles */

/* .dark-mode {
  background-color: #000; 
  color: #fff; 
} */

/* .dark-mode .app-container {
  background-color: #000; 
}

.dark-mode .app-header {
  background-color: #000; 
  color: #fff; 
} */

.app-header .toggleButton {
  position: absolute; /* Position the button */
  top: 3%; /* Adjust the distance from the top */
  right: 2%; /* Adjust the distance from the right */
  z-index: 999; /* Ensure the button is above other content */
  background: none;
  /* border: none; */
  border-color: black;
}

.mobile-menu {
  display: none; /* Hide the mobile menu by default */
}

.hamburger-icon {
  display: none; /* Hide the hamburger icon by default */
}

.hamburger-icon .fa-bars {
  font-size: 24px; /* Set font size */
  color: #000; /* Set color */
}

.hamburger-icon .fa-bars:hover {
  color: #333; /* Change color on hover */
}



/* Beautify the content of the menu */
.menu {
  background-color: #fff;
  
}

.dark-mode .menu{
  background-color: #282525;
}

.menu ul {
  list-style-type: none; /* Remove bullet points from list */
  padding: 0;
  margin: 0;
}

.dark-mode .menu li a{
  color: #f9f9f9;
}

.menu li {
  padding: 10px 20px; /* Add padding to list items */
}

.menu li a {
  text-decoration: none; /* Remove underline from links */
  color: #000; /* Set link color */
}

.menu li a:hover {
  background-color: #f5f5f5; /* Change background color on hover */
}

@media screen and (max-width: 768px) {
  .app-header .toggleButton {
    position: absolute; /* Position the button */
    top: 3%; /* Adjust the distance from the top */
    right: 6%; /* Adjust the distance from the right */
    z-index: 999; /* Ensure the button is above other content */
    
  }


  .desktop-menu {
    display: none; /* Hide the desktop menu on mobile devices */
  }

  .mobile-menu {
    display: block; /* Show the mobile menu on mobile devices */
    

  }

  .hamburger-icon {
    display: block; /* Show the hamburger icon on mobile devices */
    position: absolute;
    right: 3%; /* Adjust the left position as needed */
    top: 0; /* Adjust the top position as needed */
    cursor: pointer;
  }
}

